{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Icone -->
  <link rel="shotcut icon" href="{% static 'global/img/eoc_pers_icone_sfundo.png' %}" type="image/png">

  <!-- Animate css -->
  <link rel="stylesheet" href="{% static 'global/css/animate.min.css' %}">

  <!-- BS5 -->
  <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'global/css/bootstrap-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'user/css/msg_aut_equip.css' %}">
  <title>CONFIRMAR</title>
</head>

<body>

    <div class="d-flex justify-content-center">
      <div class="card">
        <div class="header">
          <div class="image">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path d="M20 7L9.00004 18L3.99994 13" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g>
            </svg>
          </div>
          <div class="content">
            <span class="title">Autorização validada</span>
            <p class="message">Obrigado por confirmar sua participação na pesquisa solicitada
              você já pode fechar esta pagina
            </p>
          </div>
        </div>
      </div>
    </div>

  <script src="{% static 'global/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>