{%  load static %}
<html>
  <head>
    <!-- BS5 -->
    <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'manager/css/main.css' %}">

    <!-- Local Button -->
    <link rel="stylesheet" href="{% static 'manager/css/button_offcanvas.css' %}">

    <!-- Btn logout -->
    <link rel="stylesheet" href="{% static 'manager/css/btn_logout.css' %}">
    <title>{% block title %}HOME | {% endblock title %}</title>

    {% block css %}{% endblock css %}
  </head>

  <nav class="navbar" id="info_top">
    <div class="container mt-1 mb-1">
      <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" style="text-decoration: none; color: white;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
      </a>
      <a href="{% url 'manager:home' %}" style="text-decoration: none; color: transparent;" class="mb-1 me-auto">
        <img src="{% static 'user/img/img_sema_default.png' %}" width="140px" class="ms-3 bg-white p-1 rounded">
      </a>
      <div>
        <a href="{% url 'manager:logout' %}" style="text-decoration: none; color: black;">
          <button class="button_logout">
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
            <div class="text">Sair</div>
          </button>
        </a>
      </div>
  </nav>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">MENU DE OPÇÕES</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="item_menu">
        <a href="{% url 'manager:listar_pesq' %}">
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
            </span>
            <span class="button-text">pesquisas solicitadas</span>
          </button>
        </a>
      </div>
      <div class="item_menu">
        <a href="{% url 'manager:listar_ugais' %}">
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
            </span>
            <span class="button-text">ugais solicitadas</span>
          </button>
        </a>
      </div>
      <div class="item_menu">
        <a href="{% url 'manager:reg_ugai' %}">
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
            </span>
            <span class="button-text">informações de UGAI</span>
          </button>
        </a>
      </div>
      <div class="item_menu">
        <a href="{% url 'manager:dashboard' %}">
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
            </span>
            <span class="button-text">dashboard</span>
          </button>
        </a>
      </div>
    </div>
  </div>

  <!-- Sweet alert -->
  <script src="{% static 'global/js/sweetalert2@11.js' %}"></script>
  <!-- Alert messages in sweet alert -->
  {% if messages %}
    {% for message in messages %}
      {% if not 'logged_in' in message.tags %}
        {% if 'alert-success' in message.tags %}
          <script>
            Swal.fire({
            position: "top",
            title: "Sucesso!",
            icon: "success",
            text: "{{ message|escapejs }}",
            timer: 2500,
            showConfirmButton: false,
            draggable: true,
            backdrop: false
            });
          </script>
        {% elif 'alert-info' in message.tags %}
          <script>
            Swal.fire({
            position: "top",
            title: "Informação",
            icon: "info",
            text: "{{ message|escapejs }}",
            timer: 2500,
            showConfirmButton: false,
            draggable: true,
            backdrop: false
            });
          </script>
        {% elif 'alert-warning' in message.tags %}
          <script>
            Swal.fire({
            position: "top",
            title: "Alerta",
            icon: "warning",
            text: "{{ message|escapejs }}",
            timer: 2500,
            showConfirmButton: false,
            draggable: true,
            backdrop: false
            });
          </script>
        {% else %}
          <script>
            Swal.fire({
            position: "top",
            title: "Error",
            icon: "error",
            text: "{{ message|escapejs }}",
            timer: 2500,
            showConfirmButton: false,
            draggable: true,
            backdrop: false
            });
          </script>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="container bg-light rounded" id="content">
    {% block content %}{% endblock content %}
  </div>

  <!-- BS5 -->
  <script src="{% static 'global/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'manager/js/main.js' %}"></script>
  {% block js %}{% endblock js %}
</html>