.box-button {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  border: 4px solid black;
  background-color: gray;
  padding-bottom: 10px;
  transition: 0.1s ease-in-out;
  user-select: none;
  text-align: center;
}


.button_secondary {
  background-color: #dddddd;
  border: 4px solid #fff;
  padding: 3px 8px;
}

.button_secondary span {
  font-size: 1em;
  letter-spacing: 1px;
}

.button_secondary a {
  text-decoration: none;
  color: black;
}

.box-button:active {
  padding: 0;
  margin-bottom: 10px;
  transform: translateY(10px);
}
