@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  height: 100vh;
  background-color: #2f7d4a;
  background-image: url("../img/img_amazonia_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 0 20px;
  box-sizing: border-box;
}

#info_top {
  position: relative;
  padding: 5px;
}
#info_top::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(90deg, #00a859 0%, #0066cc 50%, #ffd400 100%);
  pointer-events: none;
  z-index: 2;
}

code {
  background: rgba(255, 255, 255, 0.15);
  font-family: 'Inconsolata', monospace;
  padding: .2em .4em;
}

.content {
  background-color: #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #4f4f4f;
  line-height: 1.4em;
  margin: 20px auto;
  margin-top: 130px;
  padding: 20px;
  width: 100%;
}

.content ul {
  margin: .5em 2em;
  padding: 0;
}

/* Footer */
#footer {
  background-color: #1f5f3a;
  background-image: linear-gradient(to bottom, transparent, #0006);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 32px #000;
  overflow: hidden;
  padding: 8px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9001;
}

#footer a {
  color: #e8f5ee;
  padding: 1em 0;
  text-decoration: none;
}

#footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 2em;
  font-weight: 300;
}

#footer ul li {
  padding: 0 .5em;
}

/* Appearance */
.links {
  background-color: #327a50;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
  font-size: 2em;
  font-weight: 300;
}

.links > a {
  color: #cfeedd;
  padding: .75em;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
}

.links > a:hover {
  background: rgba(255, 255, 255, 0.10);
  color: rgba(255, 255, 255, 0.95);
}

.links > .line {
  background: #6fcf97;
  height: 1px;
  pointer-events: none;
}

/* The Magic */
#header {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.links {
  display: grid;
  grid-template-columns: repeat(var(--items), 1fr);
  position: relative;
}

.links > .line {
  opacity: 0;
  transition: all .5s;
  position: absolute;
  bottom: 0;
  left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
  width: var(--width, calc(100% / var(--items)));
  --index: 0;
}

.links > a:hover ~ .line {
  opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }
