.card {
  width: 100%;
  height: 100px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card h5 {
  z-index: 1;
  color: white;
  font-size: 1.2em;
}

.box_home {
  background-color: white;
  border: solid 3px black;
}

.box_home:hover {
  border-color: aqua;
}

a {
  cursor: pointer;
}

.img_menu {
  height: 100px;
}
